$primary-color: #8f293d;
$secondary-color: #8f2970;
$white: #ffffff;
$background-color: #dfdbe5;
$secondary-text: #ffecab;
$black: #424548;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	height: 100vh;
	background-color: $background-color;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.team_container {
		display: grid;
		grid-template-columns: repeat(3, 400px);
		grid-template-rows: repeat(2, 200px);
		grid-column-gap: 50px;
		grid-row-gap: 30px;
		position: absolute;

		.member_card {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title_box {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 620px;
				height: 100px;
				position: relative;

				.title {
					font-size: 50px;
					text-align: center;
					width: 620px;
					border-right: 3px solid $black;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
				}

				.title.animate_typewriter {
					animation: typewriter 2s steps(44) 0.2s 1 normal both, blinkCursor 500ms steps(44) 5 normal forwards;
				}

				@keyframes typewriter {
					from {
						width: 0;
					}
					to {
						width: 10.5em;
					}
				}

				@keyframes blinkCursor {
					from {
						border-right-color: $black;
					}
					to {
						border-right-color: transparent;
					}
				}
			}

			.title_box::before {
				content: "";
				position: absolute;
				top: -2px;
				left: 15px;
				width: 0;
				height: 0;
				background: transparent;
				border: 5px solid transparent;
				animation: topBorderAnimate 1s 2.5s linear forwards;
			}

			.title_box::after {
				content: "";
				position: absolute;
				top: -2px;
				right: 15px;
				width: 0;
				height: 0;
				background: transparent;
				border: 5px solid transparent;
				animation: bottomBorderAnimate 1s 2.5s linear forwards;
			}

			@keyframes topBorderAnimate {
				0% {
					width: 0;
					height: 0;
					border-top-color: $secondary-color;
					border-right-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
				50% {
					width: 100%;
					height: 0;
					border-top-color: $primary-color;
					border-right-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
				100% {
					width: 100%;
					height: 100%;
					border-top-color: $primary-color;
					border-right-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
			}

			@keyframes bottomBorderAnimate {
				0% {
					width: 0;
					height: 100%;
					border-top-color: transparent;
					border-right-color: transparent;
					border-bottom-color: $secondary-color;
					border-left-color: transparent;
				}
				50% {
					width: 100%;
					height: 100%;
					border-top-color: transparent;
					border-right-color: transparent;
					border-bottom-color: $secondary-color;
					border-left-color: transparent;
				}
				100% {
					width: 100%;
					height: 100%;
					border-top-color: transparent;
					border-right-color: transparent;
					border-bottom-color: $primary-color;
					border-left-color: transparent;
				}
			}
		}

		.member_card.title_item {
			display: flex;
			align-items: center;
			grid-column: 1 / span 2;
		}

		.profile_picture {
			position: relative;
			object-fit: cover;
			object-position: top;
			border-radius: 50%;
			width: 140px;
			height: 140px;
			z-index: 100;
			margin-bottom: -18px;
			align-self: center;
			border: 5px solid $white;
			background-color: $white;
			box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
			animation: scaleInFromCenter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}

		@keyframes scaleInFromCenter {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
				opacity: 1;
			}
			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			}
		}

		.inner {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: flex-start;
			align-content: flex-end;
			background: $primary-color;
			padding: 1em;
			border-radius: 10px;
			width: 100%;
			position: relative;
			clip-path: circle(30% at 50% -100%);
			animation-name: circle;
			animation-duration: 2s;
			animation-delay: 1.3s;
			animation-iteration-count: 1;
			animation-direction: forwards;
			animation-fill-mode: forwards;
			box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
			opacity: 0;

			.name {
				font-weight: 400;
				color: $white;
				margin: 0;
			}

			.designation {
				color: $secondary-text;
				font-size: 0.9rem;
			}

			@keyframes circle {
				0% {
					clip-path: circle(30% at 50% -100%);
					background: $secondary-color;
					opacity: 0;
				}
				100% {
					clip-path: circle(75%);
					background: $primary-color;
					opacity: 1;
				}
			}
		}
	}
}
